In [1]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv("data\\mumbai_flats_cleaned_v4.csv")

In [30]:
data.columns

Index(['flat_type', 'flat_price', 'location1', 'buildupArea_sqft',
       'avg_price_thousands', 'age_of_propert', 'floor_type', 'furnishing',
       'bedrooms', 'bathrooms', 'balcony', 'parking'],
      dtype='object')

In [32]:
data.isna().sum()

flat_type               0
flat_price              0
location1               0
buildupArea_sqft        0
avg_price_thousands     0
age_of_propert          0
floor_type             35
furnishing              0
bedrooms                0
bathrooms               0
balcony                 0
parking                 0
dtype: int64

In [34]:
data.drop(columns=['floor_type'],inplace=True)

In [36]:
data.duplicated().sum()

912

In [38]:
data.drop_duplicates(inplace=True)

In [50]:
data[data['flat_price']<=0.80]

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_propert,furnishing,bedrooms,bathrooms,balcony,parking
1,1 BHK Flat,0.19,Palghar,630,3020.0,recent construction,Unfurnished,1,1,2,yes
2,1 BHK Flat,0.73,Mira Road East,580,12590.0,new construction,Semi Furnished,1,2,2,no
17,1 BHK Flat,0.66,Mira Road East,550,12000.0,new construction,Semi Furnished,1,1,1,yes
21,1 BHK Flat,0.38,Virar West,650,5850.0,recent construction,Semi Furnished,1,1,2,yes
23,1 BHK Flat,0.72,Mira Road East,740,9730.0,recent construction,Semi Furnished,1,2,3,yes
...,...,...,...,...,...,...,...,...,...,...,...
8363,1 BHK Flat,0.60,Bhayandar West,510,11760.0,mid age property,Semi Furnished,1,1,0,yes
8368,1 BHK Flat,0.36,Virar West,680,5290.0,new construction,Unfurnished,1,1,1,yes
8372,1 BHK Flat,0.68,Bhandup West,350,19430.0,modern property,Unfurnished,1,1,0,no
8383,2 BHK Flat,0.65,Mira Road East,625,10400.0,modern property,Semi Furnished,2,2,0,no
8384,1 BHK Flat,0.20,Naigaon East,280,7140.0,recent construction,Semi Furnished,1,1,0,no

In [55]:
def recommend_flats(data, location=None, bhk_type=None, min_price=None, max_price=None, min_area=None, max_area=None, top_n=5):
    
    filtered_data = data.copy()
    if location:
        filtered_data = filtered_data[filtered_data['location1'] == location]
    if bhk_type:    
        filtered_data = filtered_data[filtered_data['flat_type'] == bhk_type]

    if min_price is not None:
        filtered_data = filtered_data[filtered_data['flat_price'] >= min_price]
    if max_price is not None:
        filtered_data = filtered_data[filtered_data['flat_price'] <= max_price]

    if min_area is not None:
        filtered_data = filtered_data[filtered_data['buildupArea_sqft'] >= min_area]
    if max_area is not None:
        filtered_data = filtered_data[filtered_data['buildupArea_sqft'] <= max_area]

    recommended_flats = filtered_data.sort_values(by='flat_price').head(top_n)
    return recommended_flats

In [65]:
recommend_flats(data=data,bhk_type="2 BHK Flat",min_price=0.80,max_price=2.0,min_area=500,max_area=1200,top_n=5)

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_propert,furnishing,bedrooms,bathrooms,balcony,parking
1886,2 BHK Flat,0.8,Mira Road East,1050,7610.0,recent construction,Semi Furnished,2,2,3,yes
5911,2 BHK Flat,0.8,Dahisar East,882,9070.0,new construction,Unfurnished,2,2,3,yes
5721,2 BHK Flat,0.8,Vasai West,930,8600.0,recent construction,Semi Furnished,2,2,0,yes
5035,2 BHK Flat,0.8,Bhayandar East,1050,7610.0,recent construction,Semi Furnished,2,2,3,yes
5315,2 BHK Flat,0.8,Goregaon East,972,8230.0,recent construction,Fully Furnished,2,2,0,yes

In [66]:
data['flat_type'].

,flat_type,flat_price,location1,buildupArea_sqft,avg_price_thousands,age_of_propert,furnishing,bedrooms,bathrooms,balcony,parking
0,3 BHK Flat,3.95,Kanjurmarg West,1550,25480.0,recent construction,Fully Furnished,3,2,1,yes
1,1 BHK Flat,0.19,Palghar,630,3020.0,recent construction,Unfurnished,1,1,2,yes
2,1 BHK Flat,0.73,Mira Road East,580,12590.0,new construction,Semi Furnished,1,2,2,no
3,1 BHK Flat,1.10,Dahisar East,410,26830.0,new construction,Semi Furnished,1,2,1,yes
4,3 BHK Flat,2.25,others,1052,21390.0,new construction,Semi Furnished,3,2,3,yes
...,...,...,...,...,...,...,...,...,...,...,...
8380,2 BHK Flat,2.25,Chembur,960,23440.0,recent construction,Semi Furnished,2,2,0,yes
8381,3 BHK Flat,2.85,Chembur,865,32950.0,recent construction,Semi Furnished,3,3,0,yes
8382,3 BHK Flat,2.60,Mulund West,886,29340.0,modern property,Fully Furnished,3,3,0,yes
8383,2 BHK Flat,0.65,Mira Road East,625,10400.0,modern property,Semi Furnished,2,2,0,no
8384,1 BHK Flat,0.20,Naigaon East,280,7140.0,recent construction,Semi Furnished,1,1,0,no

In [13]:
data

,flat_type,flat_price,location1,buildupArea_sqft,age_of_property,furnishing,bedrooms,bathrooms,balcony,parking
0,2 BHK Flat,0.95,Mira Road East,1060,recent construction,Semi Furnished,2,2,0,yes
1,1 BHK Flat,0.93,Borivali East,525,mid age property,Semi Furnished,1,2,0,no
2,2 BHK Flat,1.48,Bhandup West,1065,new construction,Semi Furnished,2,2,1,yes
3,3 BHK Flat,2.50,Bhandup West,1150,recent construction,Semi Furnished,3,2,0,yes
4,1 BHK Flat,1.10,Wadala East,480,new construction,Unfurnished,1,2,0,yes
...,...,...,...,...,...,...,...,...,...,...
7478,1 BHK Flat,0.74,Malad West,550,modern property,Unfurnished,1,1,0,no
7479,1 BHK Flat,0.24,Nalasopara West,700,recent construction,Unfurnished,1,1,0,yes
7480,1 BHK Flat,0.99,Malad West,650,new construction,Unfurnished,1,2,0,yes
7481,2 BHK Flat,1.28,Bhandup West,950,recent construction,Unfurnished,2,2,2,yes
7482,1 BHK Flat,0.48,Mira Road East,540,recent construction,Unfurnished,1,2,0,yes